
body {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: $base;
    background-color: #f6f6f6;
    -webkit-text-size-adjust: 100%;
font-family: "proxima-nova", sans-serif;
font-style: normal;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}





/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $gray;
        }
    }
}

.wrapper {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;

}
/**
 * Site header
 */
.site-header {
    border-left: 1px solid $gray;
    padding: 1.5em;
    overflow: hidden;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &,
    &:visited {
        color: $gray;
    }
}

.site-nav {
    float: right;
    .menu-icon {
        display: none;
    }

    .page-link {
        color: $callout;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

}

.hero {
    background: black;
      width: 80%;
  padding: 100px 10%;
  height: 200px;
    color: white;
    margin-bottom: 2em;
}

.cohort {
    .hero {

  background-image: url(http://www.placekitten.com/1000/400);
  background-size: cover;
  -webkit-animation: imggradient 12s linear infinite;
          animation: imggradient 12s linear infinite;
}

@-webkit-keyframes imggradient {
  0%, 100% {
    background-image: -webkit-linear-gradient(right bottom, rgba(206, 131, 44, 0.7), rgba(206, 131, 44, 0.7)), url(http://www.placekitten.com/900/400);
    background-image: linear-gradient(to left top, rgba(206, 131, 44, 0.7), rgba(206, 131, 44, 0.7)), url(http://www.placekitten.com/900/400);
  }
  33% {
    background-image: -webkit-linear-gradient(right bottom, rgba(184, 89, 76, 0.7), rgba(184, 89, 76, 0.7)), url(http://www.placekitten.com/700/400);
    background-image: linear-gradient(to left top, rgba(184, 89, 76, 0.7), rgba(184, 89, 76, 0.7)), url(http://www.placekitten.com/700/400);
  }
  66% {
    background-image: -webkit-linear-gradient(right bottom, rgba(48, 161, 173, 0.7), rgba(48, 161, 173, 0.7)), url(http://www.placekitten.com/1000/400);
    background-image: linear-gradient(to left top, rgba(48, 161, 173, 0.7), rgba(48, 161, 173, 0.7)), url(http://www.placekitten.com/1000/400);
  }
}

@keyframes imggradient {
  0%, 100% {
    background-image: -webkit-linear-gradient(right bottom, rgba(206, 131, 44, 0.7), rgba(206, 131, 44, 0.7)), url(http://www.placekitten.com/900/400);
    background-image: linear-gradient(to left top, rgba(206, 131, 44, 0.7), rgba(206, 131, 44, 0.7)), url(http://www.placekitten.com/900/400);
  }
  33% {
    background-image: -webkit-linear-gradient(right bottom, rgba(184, 89, 76, 0.7), rgba(184, 89, 76, 0.7)), url(http://www.placekitten.com/700/400);
    background-image: linear-gradient(to left top, rgba(184, 89, 76, 0.7), rgba(184, 89, 76, 0.7)), url(http://www.placekitten.com/700/400);
  }
  66% {
    background-image: -webkit-linear-gradient(right bottom, rgba(48, 161, 173, 0.7), rgba(48, 161, 173, 0.7)), url(http://www.placekitten.com/1000/400);
    background-image: linear-gradient(to left top, rgba(48, 161, 173, 0.7), rgba(48, 161, 173, 0.7)), url(http://www.placekitten.com/1000/400);
  }
}

}

footer {
    clear: both;
    overflow: hidden;
    background-color: white;
    padding-top: 2em;
}
