$gray: rgb(32,47,55);
$base: rgb(91,102,108);
$callout: rgb(111,186,182);
$fee-dark: rgb(73,51,28);
$fee-base: rgb(206,131,44);
$fee-call: rgb(111,186,182);
$ruby-dark: rgb(73,47,46);
$ruby-base: rgb(184,89,76);
$ruby-call: rgb(177,179,181);
$design-dark: rgb(0,68,84);
$design-base: rgb(48,161,173);
$design-call: rgb(250,177,106);