---
layout: cohort
---
<!DOCTYPE html>
<html>


  {% include head.html %}

  <body>

{% include header.html %}

<div class="hero">

  <h1>
Demo day is cool and tomorrow!</h1>
</div>
<div class="all-courses">

<div class="course-col">
<h3> Ruby</h3>
<ul>
{% assign show = (site.pages | where: "cohort" , "spring-2015" | where: "course", "ruby" ) %}
{% for page in show %}
    <li>
    <div class="student-photo"><img src="/images/{{page.cohort}}/{{page.id}}.jpg" alt="photo for {{page.student}}"></div>
    <div class="student-info">
      <h4 class="name">{{ page.student }},
      <span class="course">{{ page.course }}</span></h4>
      <p class="bio">{{ page.bio }}</p>
    </div>
    </li>
{% endfor %}
</ul>
</div>
<div class="course-col">
<h3> Front End Engineering</h3>
<ul>
{% assign show = (site.pages | where: "cohort" , "spring-2015" | where: "course", "front-end" ) %}
{% for page in show %}
    <li>
    <div class="student-photo"><img src="/images/{{page.cohort}}/{{page.id}}.jpg" alt="photo for {{page.student}}"></div>
    <div class="student-info">
      <h4 class="name">{{ page.student }},
      <span class="course">{{ page.course }}</span></h4>
      <p class="bio">{{ page.bio }}</p>
    </div>
    </li>
{% endfor %}
</ul>
</div>
</div>
{% include footer.html %}

</body>
</html>